body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f3f5;
}

.burgerMenu {
  cursor: pointer;
}

.logo--container {
  cursor: pointer;
}

.weekbar--container {
  background-color: #adb5bd;
  text-align: center;
}

.maincard--container {
  background-color: #adb5bd;
  height: 220px;
  margin: 20px;
  border-radius: 16px;
  max-width: 320px;
  text-align: center;
}

/* TOPIC */
.topic {
  padding: 10px;
}

/* RESOURCES */
.resources {
  display: flex;
  flex-direction: column;
}

/* .resources a; */
